# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# But track weekly data
!notebooks/weekly_data/*.csv

# Data files
*.csv
*.xlsx

# IDE settings
.vscode/
.idea/

*.zip
*.tsv
*.csv
data/unzipped/
data/*.zip
data/*.tsv
data/*.csv
